@model Dvdteka.Data.Rent

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DvdId" />
            <input type="hidden" asp-for="MemberId" />
            <input type="hidden" asp-for="RentTime" />
            <h2>@Model.Dvd.Name</h2>
            <h3>@Model.Member.Name</h3>
            <h3>@Model.RentTime</h3>

            <div class="form-group">
                <label asp-for="ReturnTime" class="control-label"></label>
                <input asp-for="ReturnTime" class="form-control" />
                <span asp-validation-for="ReturnTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
